* {
    box-sizing: border-box;
    font-family: "Outfit";
    font-size: 1rem;
    color: white;
}

input:focus {
    border: none;
}

.logo-title {
    padding: 1.5rem;
    padding-top: 0;
    font-size: 4rem;
    color: white;
}

.title {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login-form input {
    padding: .5rem 2rem;
    border-radius: 5px;
}

.login-form button {
    padding: .5rem 2rem;
    border-radius: 5px;
}

.bordas {
    margin-left: 2rem;
    margin-right: 2rem;
}

.spotBox {
    padding: 1rem;
    width: 33%;
}

.spot {
    
    background: #3d2979;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    border-radius: 5px;
}

.spot img {
    border-radius: 5px;
}

.descricao {
    font-size: .8rem;
    text-align: center;
    color: #e0e0e0;
    padding-bottom: .5rem;
}

button.emprestar {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    max-width: 80%;
    border-radius: 5px;
    background: green;
    font-weight: 500;
}

button.excluir {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    max-width: 80%;
    border-radius: 5px;
    background-color: darkred;
    font-weight: 500;
}

input[type="submit"] {
    background: #271a4e;
    padding: 0.2rem 2rem;
}